# Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Backups automáticos
backups/

# Logs
logs/

# Uploads
uploads/

# Arquivos temporários
*.log
Thumbs.db
Desktop.ini
.DS_Store

# Banco SQLite (descomente se não quiser versionar o banco)
# elevalocker.db