<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELEVA LOCKER</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">

        <h1>ELEVA LOCKER</h1>

        <p>Sistema Inteligente de Armários</p>

        {% if erro %}
        <p style="color:red; font-weight:bold;">
            {{ erro }}
        </p>
        {% endif %}

        <form action="/login" method="POST">

            <input
                type="email"
                name="email"
                placeholder="E-mail"
                required>

            <input
                type="password"
                name="senha"
                placeholder="Senha"
                required>

            <button type="submit">
                Entrar
            </button>

        </form>

    </div>

</body>

</html>